body,
html {
    margin: 0;
    padding: 0;
}

html {
    background: #e4e2e2;
}

a {
    text-decoration: none
}


ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.slider {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 2em 2em;
}

.slider-input {
    display: none;
}

.slides,
.texts {
    display: flex;
    width: 100%;
}

.slide,
.text {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.slide {
    box-sizing: border-box;
    background: #eeebeb;
    border: 0.1em solid #ccc;
    width: 100%;
    height: 100%;
}

.texts {
    margin-top: 2em;
}

img {
    height: 70vh;
    padding: 2em;
}

.text {
    border: none;
    font-family: monospace;
    font-size: 2em;
    width: 100%;
}

.slider-labels {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
    gap: 4%;
}

.padding-label {
    padding: 1.5em;
}

.padding-label:hover {
    border: 0.1em solid #ccc;
    border-radius: 100%;
}

.slider-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    border: 0.1em solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.slider-label:last-child {
    margin-right: 0;
}

.slider-label:hover {
    cursor: pointer;
}

#slider-input1:checked~.slider-labels>.slider-label[for="slider-input1"] {
    background-color: rgb(22, 153, 153);
}

#slider-input2:checked~.slider-labels>.slider-label[for="slider-input2"] {
    background-color: rgb(22, 153, 153);
}

#slider-input3:checked~.slider-labels>.slider-label[for="slider-input3"] {
    background-color: rgb(22, 153, 153);
}

#slider-input4:checked~.slider-labels>.slider-label[for="slider-input4"] {
    background-color: rgb(22, 153, 153);
}

#slider-input5:checked~.slider-labels>.slider-label[for="slider-input5"] {
    background-color: rgb(22, 153, 153);
}

#slider-input6:checked~.slider-labels>.slider-label[for="slider-input6"] {
    background-color: rgb(22, 153, 153);
}

#slider-input7:checked~.slider-labels>.slider-label[for="slider-input7"] {
    background-color: rgb(22, 153, 153);
}

#slider-input8:checked~.slider-labels>.slider-label[for="slider-input8"] {
    background-color: rgb(22, 153, 153);
}

#slider-input9:checked~.slider-labels>.slider-label[for="slider-input9"] {
    background-color: rgb(22, 153, 153);
}

#slider-input10:checked~.slider-labels>.slider-label[for="slider-input10"] {
    background-color: rgb(22, 153, 153);
}

#slider-input1:checked~.slides,
#slider-input1:checked~.texts {
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

#slider-input2:checked~.slides,
#slider-input2:checked~.texts {
    transform: translateX(-100%);
    transition: transform 0.6s ease-in-out;
}

#slider-input3:checked~.slides,
#slider-input3:checked~.texts {
    transform: translateX(-200%);
    transition: transform 0.6s ease-in-out;
}

#slider-input4:checked~.slides,
#slider-input4:checked~.texts {
    transform: translateX(-300%);
    transition: transform 0.6s ease-in-out;
}

#slider-input5:checked~.slides,
#slider-input5:checked~.texts {
    transform: translateX(-400%);
    transition: transform 0.6s ease-in-out;
}

#slider-input6:checked~.slides,
#slider-input6:checked~.texts {
    transform: translateX(-500%);
    transition: transform 0.6s ease-in-out;
}

#slider-input7:checked~.slides,
#slider-input7:checked~.texts {
    transform: translateX(-600%);
    transition: transform 0.6s ease-in-out;
}

#slider-input8:checked~.slides,
#slider-input8:checked~.texts {
    transform: translateX(-700%);
    transition: transform 0.6s ease-in-out;
}

#slider-input9:checked~.slides,
#slider-input9:checked~.texts {
    transform: translateX(-800%);
    transition: transform 0.6s ease-in-out;
}

#slider-input10:checked~.slides,
#slider-input10:checked~.texts {
    transform: translateX(-900%);
    transition: transform 0.6s ease-in-out;
}

#mem9,
#mem10,
#mem5 {
    height: 37em;
}


@media screen and (max-width: 1220px) {

    #mem6,
    #mem8 {
        width: 100%;
    }

}

@media screen and (max-width: 1024px) {

    #mem2,
    #mem4 {
        width: 100%;
    }
}

@media screen and (max-width: 960px) {

    #mem1,
    #mem3,
    #mem5,
    #mem7 {
        width: 100%;
    }
}

@media screen and (max-width: 920px) {

    .slides,
    .texts {
        align-items: center;
    }

    img {
        height: 65vh;
    }
}

@media screen and (max-width: 750px) {

    img {
        height: 55vh;
    }

}

@media screen and (max-width: 650px) {

    img {
        height: 47vh;
    }

}

@media screen and (max-width: 550px) {

    img {
        height: 40vh;
    }

    #mem9,
    #mem10,
    #mem5 {
        height: 35em;
    }

}