body,
html {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none
}


ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.slider {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 2em 2em;
}

.slider-input {
    display: none;
}

.slides,
.texts {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

img {
    height: 80vh;
    padding: 2em;
}

.slide,
.text {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    border: 0.1em solid #ccc;
}

.text {
    border: none;
}

.texts {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}


.slider-labels {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-label {
    display: inline-block;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    margin-right: 1em;
    border: 0.1em solid #ccc;
    border-radius: 50%;
}

.slider-label:last-child {
    margin-right: 0;
}

.slider-label:hover {
    cursor: pointer;
}



#slider-input1:checked~.slider-labels>.slider-label[for="slider-input1"] {
    background-color: aqua;
}

#slider-input2:checked~.slider-labels>.slider-label[for="slider-input2"] {
    background-color: aqua;
}

#slider-input3:checked~.slider-labels>.slider-label[for="slider-input3"] {
    background-color: aqua;
}

#slider-input4:checked~.slider-labels>.slider-label[for="slider-input4"] {
    background-color: aqua;
}

#slider-input5:checked~.slider-labels>.slider-label[for="slider-input5"] {
    background-color: aqua;
}

#slider-input6:checked~.slider-labels>.slider-label[for="slider-input6"] {
    background-color: aqua;
}

#slider-input7:checked~.slider-labels>.slider-label[for="slider-input7"] {
    background-color: aqua;
}

#slider-input8:checked~.slider-labels>.slider-label[for="slider-input8"] {
    background-color: aqua;
}

#slider-input9:checked~.slider-labels>.slider-label[for="slider-input9"] {
    background-color: aqua;
}

#slider-input10:checked~.slider-labels>.slider-label[for="slider-input10"] {
    background-color: aqua;
}

#slider-input1:checked~.slides,
#slider-input1:checked~.texts {
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

#slider-input2:checked~.slides,
#slider-input2:checked~.texts {
    transform: translateX(-100%);
    transition: transform 0.6s ease-in-out;
}

#slider-input3:checked~.slides,
#slider-input3:checked~.texts {
    transform: translateX(-200%);
    transition: transform 0.6s ease-in-out;
}

#slider-input4:checked~.slides,
#slider-input4:checked~.texts {
    transform: translateX(-300%);
    transition: transform 0.6s ease-in-out;
}

#slider-input5:checked~.slides,
#slider-input5:checked~.texts {
    transform: translateX(-400%);
    transition: transform 0.6s ease-in-out;
}

#slider-input6:checked~.slides,
#slider-input6:checked~.texts {
    transform: translateX(-500%);
    transition: transform 0.6s ease-in-out;
}

#slider-input7:checked~.slides,
#slider-input7:checked~.texts {
    transform: translateX(-600%);
    transition: transform 0.6s ease-in-out;
}

#slider-input8:checked~.slides,
#slider-input8:checked~.texts {
    transform: translateX(-700%);
    transition: transform 0.6s ease-in-out;
}

#slider-input9:checked~.slides,
#slider-input9:checked~.texts {
    transform: translateX(-800%);
    transition: transform 0.6s ease-in-out;
}

#slider-input10:checked~.slides,
#slider-input10:checked~.texts {
    transform: translateX(-900%);
    transition: transform 0.6s ease-in-out;
}



#mem6,
#mem8 {
    width: 100%;
}